* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./bg.png");
  background-size: cover;
  background-position: left top;
  font-family: "Zilla Slab", serif;
}

.box-container {
  width: 70%;
  margin: 0 auto;
}

#question {
  min-height: 100px;
  display: flex;
  padding: 1vw;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    92.49deg,
    rgba(255, 255, 255, 0.1) 0.18%,
    rgba(255, 255, 255, 0.05) 99.85%
  );
  backdrop-filter: blur(5px);
  margin-bottom: 30px;
}

#display {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 5rem;
  color: white;
  font-size: 32px;
  background-color: #171717;
  border: 2px solid #9dffad;
  border-radius: 15px;
}

#countdown {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  display: none;
}
#result {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 400px;
  background-color: #171717;
  border-radius: 15px;
  border: 2px solid #9dffad;
  color: white;
  text-align: center;
  padding: 2rem;
}
#show-time{
  text-align: center;
  color: white;
  margin: 10px 0;
}

.green {
  color: #9dffad;
}
.red {
  color: #eb6565;
}
.bold {
  font-weight: 700;
}
.inactive {
  border: 2px solid white !important;
}
.hidden {
  display: none;
}
.title {
  text-align: center;
  color: white;
  margin: 20px 0;
}

.divider-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
}

.line {
  height: 2px;
  background: white;
  width: 100%;
}

.title2 {
  color: white;
  display: block;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 300px;
  height: 50px;
  color: white;
  background-color: #171717;
  border-radius: 10px;
  border: 2px solid #9dffad;
  cursor: pointer;
}

#histories {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  justify-content: space-around;
}

.card {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 1vw;
  color: white;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    92.49deg,
    rgba(255, 255, 255, 0.1) 0.18%,
    rgba(255, 255, 255, 0.05) 99.85%
  );
  backdrop-filter: blur(5px);
  margin-bottom: 30px;
}
.card h3,p{
 margin: 0 1vw;
  color: white;
  text-align: center;
  padding:1vw 1vw;
  border:1px solid blueviolet;
  border-radius: 15px;
  
}
.background-linear{
  background: rgb(255, 255, 255);
  background: linear-gradient(
    92.49deg,
    rgba(240, 4, 228, 0.17) 0.18%,
    rgba(231, 209, 9, 0.1) 99.85%
  );
}

#modal-background {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    92.49deg,
    rgba(255, 255, 255, 0.1) 0.18%,
    rgba(255, 255, 255, 0.05) 99.85%
  );
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
}

/* blog section  */
.header{
  margin-top: 2vw;
}
.header a{
  color: white;
  text-decoration: none;
  padding:1vw 2vw;
  font-size: 2vw;
  border: 1px solid white;
  border-radius: 1vw;
 margin: 1vw;
 box-shadow: rgba(240, 4, 16, 0.17) 0px -23px 25px 0px inset, rgba(95, 4, 241, 0.15) 0px -36px 30px 0px inset, rgba(231, 9, 176, 0.1) 0px -79px 40px 0px inset, rgba(241, 6, 230, 0.06) 0px 2px 1px, rgba(233, 5, 195, 0.09) 0px 4px 2px, rgba(243, 4, 171, 0.09) 0px 8px 4px, rgba(241, 2, 241, 0.09) 0px 16px 8px, rgba(99, 4, 99, 0.09) 0px 32px 16px;
}
.question-answer{
  color: white;
  margin-top: 2vw;
  text-align: center;
}
.answer{
  text-align: left;
  margin: 1vw 2vw;
  border-radius: 1vw;
  padding: 2vw;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    92.49deg,
    rgba(255, 255, 255, 0.1) 0.18%,
    rgba(255, 255, 255, 0.05) 99.85%
  );
}
.answer h1,h3,p{
  background:none;
  text-align: left;
}
.paragraph{
  border:none;
}

@media only screen and (max-width: 700px) {
  .box-container {
    padding: 0 20px;
    width: 100%;
  }
  #display{
    padding: 0;
  }
  #histories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    flex-direction: column;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      92.49deg,
      rgba(240, 4, 228, 0.17) 0.18%,
      rgba(231, 209, 9, 0.1) 99.85%
    );
  }
  .card h3,p{
    margin: 0;
    padding: 0;
    background:none;
    border:none;
  }
  .background-linear{
    background: none;
  }
}
